<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.pku.dao.LogsMapper">
    <select id="getTotal" resultType="java.lang.Integer">
        select count(1) from attack_logs;
    </select>

    <select id="getLogsByPage" resultType="cn.edu.pku.entities.LogInfo">
        select `id`, `message` from attack_logs limit #{start}, #{size};
    </select>
</mapper>