<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="../static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
</head>

<body>
<script type="text/javascript">
    function a1() {
        $.ajax({
            url: "/ajax/a1",
            data: {"name": $('#txtName').val()},
            success: function (data, status) {
                alert(data);
                console.log(status)
            }
        });
    }

    function getKey() {
        $("#txtName").on(function(event){
            if (event.which === 13) {
                a1();
            }
        });
    }
</script>

<div>
    用户名：
    <input type="text" id="txtName" onkeypress="getKey()">
    <input type="button" value="确定" onclick="a1()">
</div>
</body>
</html>